#descriptionHeader{
  display: flex;
  flex-direction: column;
}

#header{
  margin: 7px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-weight: bold;
}

.descriptionButton{
  text-decoration: underline;
  font-weight: bold;
}

#rightButton{
  font-size: .8rem;
}