#aboutContainer{
  height: 90vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 80px;
  grid-template-areas: 
  'form'
  'footer';
}

#formWrapper{
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formHeader{
  margin: 30px;
}

#formHeader>h1{
  font-weight: bold;
  margin-bottom: 5px;
}

#aboutForm{
  margin: 20px;
  width: 30%;
}

#aboutForm>input{
  padding: 5px;
  box-sizing: border-box;
}

#locationWrapper{
  display: flex;
}

#aboutForm>input:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#aboutForm>input{
  border-bottom: none;
  width: 100%;
}

#select{
  border-bottom-left-radius: 10px;
  border-right: none;
}

#locationWrapper>input{
  border-bottom-right-radius: 10px;
}



#footer{
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 7px solid rgb(221, 221, 221);
}

.navlink{
  text-decoration: none;
  background: orangered;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 15px 30px ;
  margin: 15px 20px;
}

.navlink:hover{
  background: rgba(255, 68, 0, 0.658) 
 }