#floorPlanContainer{
  display: grid;
  grid-template-rows: 1fr 80px;
  grid-template-areas: 
  'form'
  'footer';
  height: 90vh;
}

#formWrapper{
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form{
  width: 65%;
}

#form>div:not(:last-child){
  border-bottom: 1px solid rgb(216, 216, 216);
}

#formHeader{
  margin: 30px;
  margin-left: 0;
}

#formHeader>h1{
  font-weight: bold;
  margin-bottom: 5px;
}

.inputContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}

.inputContainer>label{
  font-weight: bold;
  padding: 30px 0;
}

.inputWrapper{
  display: flex;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input{
  width: 30px;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 1rem;
  padding-left: 0;
}

.plusandminus{
  border: 1px solid rgb(197, 197, 197);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#footer{
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 7px solid rgb(221, 221, 221);
}

.navlink{
  text-decoration: none;
  background: orangered;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 15px 30px ;
  margin: 15px 20px;
}

.navlink:hover{
 background: rgba(255, 68, 0, 0.658) 
}