#nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80px;
  padding: 0 5%;
}

.profileContainer{
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.modalStyle{
  height: fit-content;
  box-sizing: border-box;
  width: 240px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 6%;
  top: 75px;
  border-radius: 10px;
  box-shadow: 2px 1px 5px #e8e8e8;
  outline: none;
  background-color: white;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton{
  background-color: white;
  border: none;
  font-weight: bold;
  margin-top: 15px;
  height: 40px;
  text-align: left;
  padding-left: 20px;
}

.logoutButton:hover{
  background-color: rgb(240, 240, 240);
  color: orangered;
}

#profileButton{
  color: #717171;
}

.logo{
 width: 50px;
}

.logoText{
  text-decoration: none;
  font-weight: bolder;
  color: orangered;
}

.searchContainer{
  width:100%;
  display: flex;
  justify-content: center;
}

#searchBar{
  max-width: 40%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  padding-left: 10px;
  
}


#searchButton{
  width: 32px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 20px;
}

#menuButton{
  padding: 0 10px;
  color: #717171;
}

#profileButton {
  font-size: 30px;
}

#menuButton{
  font-size: 20px;
}