#imagesContainer {
  display: grid;
  grid-template-rows: 1fr 80px;
  grid-template-areas:
    'form'
    'footer';
  height: 90vh;
}

#formWrapper {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formHeader {
  margin: 30px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

#formHeader>h1 {
  font-weight: bold;
  margin-bottom: 5px;
}

#formHeader>:last-child{
  font-size: .8rem;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#previewContainer{
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#previewContainer>input:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#previewContainer>input:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fileButton{
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: orangered;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: auto;
}

input[type="file"] {
  display: none;
}

#footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 7px solid rgb(221, 221, 221);
}

.navlink {
  text-decoration: none;
  background: orangered;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: .9rem;
  text-align: center;
  padding: 15px 30px;
  margin: 15px 20px;
}

.navlink:hover {
  background: rgba(255, 68, 0, 0.658)
}